<h1> Promoção </h1>

<ul>
  <li>
    <label>Produto:</label>
    <%= @sale.product_id %>
  </li>
  <li>
    <label>Porcentagem:</label>
    <%= @sale.percent_off %>
  </li>
  <li>
    <label>A partir de:</label>
    <%= @sale.starts_at %>
  </li>
  <li>
    <label>Válido até:</label>
    <%= @sale.ends_at %>
  </li>
</ul>
<p>
  <%= link_to 'Editar', edit_admin_generic_sale_path(@sale), :class => 'button' %> |
  <%= link_to "Deletar", [:admin, :generic, @sale], :data => { :confirm => 'Você tem certeza?' }, :method => :delete, :class => 'button' %> |
  <%= link_to "Mostrar todos", admin_generic_sales_path, :class => 'button' %>
</p>
