<h3>Editar compra</h3>

<%= form_for @purchase_order, :url  => admin_inventory_purchase_order_path(@purchase_order) do |form| %>
  <%= render :partial => '/admin/inventory/purchase_orders/form', :locals => {:form => form} %>
  <%= submit_tag "Atualizar", :class  => "button" %>
<% end %>
<% if !@purchase_order.receive_po %>
  <%= link_to 'Receber compra', edit_admin_inventory_receiving_path(@purchase_order) %> |
<% end %>
<%= link_to 'Voltar', admin_inventory_purchase_orders_path %>

<% content_for :head do -%>
  <%= stylesheet_link_tag 'chosen.css' %>
<% end %>

<% content_for :below_body do -%>
  <%= javascript_include_tag 'chosen/chosen.jquery.min.js' %>
  <%= javascript_include_tag 'admin/purchase_orders' %>
<% end %>
