<div class='three columns'>
    <% if content_for? :account_title %>
      <h3><%= yield :account_title %></h3>
    <% else %>
      <h3>Sua conta</h3>
    <% end %>

  <div id='myaccount-header-menu'>
    <ul  class=" side-nav">
      <li <%= selected_myaccount_tab('address') ? 'class=active' : '' %>>
        <%= link_to 'Endereços', myaccount_addresses_path() %></li>
      <li <%= selected_myaccount_tab('credit_cards') ? 'class=active' : '' %>>
        <%= link_to 'Cartões de Crédito', myaccount_credit_cards_path() %></li>
      <li <%= selected_myaccount_tab('orders') ? 'class=active' : '' %>>
        <%= link_to 'Pedidos', myaccount_orders_path() %>
      </li>
      <li <%= selected_myaccount_tab('profile') ? 'class=active' : '' %>>
        <%= link_to 'Perfil', myaccount_overview_path() %>
      </li>
    </ul>
  </div>
</div>
