
<% if @variant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@variant.errors.count, "erro não permitiu", "erros não permitiram") %> que esta compra fosse salva:</h2>

    <ul>
    <% @variant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class='clear'></div>
<div class='span-12'>
  <div class='span-5'>
    <%= f.label 'Quantidade' %>
  </div>
  <div class='span-6 last'>
    <%= f.number_field :qty_to_add, {:step => 1} %>
  </div>


  <div class='span-5'>
    <label>Valor ($$$) de reembolso pelo fabricante</label>
  </div>
  <div class='span-6 last'>
    <%= number_field_tag :refund, 0.00, {:step => 0.01} %>
  </div>

</div>

<div class='clear'></div>