  <% if @shopping_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_address.errors.count, "erro não permitiu", "erros não permitiram") %> que este endereço de entrega fosse salvo:</h2>

      <ul>
      <% @shopping_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='main-address seven' >
    <div class="inline twelve ">
      <div class="field six columns">
         <%= f.label :first_name, 'Nome' %>
         <%= f.text_field :first_name, :class => '' %>
      </div>

      <div class="field six columns">
        <%= f.label :last_name, 'Sobrenome' %>
        <%= f.text_field :last_name, :class => '' %>
      </div>
    </div>
    <div class='clear'></div>
      <div class="twelve columns">
        <div class="field">
          <%= f.label :address1, 'Endereço 1' %>
          <%= f.text_field :address1 %><br/>

          <%= f.label :address2, 'Endereço 2' %>
          <%= f.text_field :address2 %>
        </div>
      </div>

    <div class='clearfix'></div>
      <div class=" twelve clearfix">
        <div class="field five columns">
          <%= f.label :city, 'Cidade' %>
          <%= f.text_field :city %>
        </div>

      <% if nil %>
        <div class="field four">
          <%= f.label :state_name, 'Estado' %>
          <%= f.text_field :state_name %>
        </div>
      <% end %>
      <% if Settings.require_state_in_address %>
        <div class="field four columns">
          <%= f.label    :state_id, "Estado" %>
          <%= f.select   :state_id, @states,
                        :include_blank => true %>
        </div>
      <% elsif countries.size == 1 %>
        <div class="field column">
          <%= f.label :country_id, "País" %>
          <%= countries.first.name %>
          <%= f.hidden_field   :country_id %>
        </div>
      <% else %>
        <div class="field column">
          <%= f.label    :country_id, "País" %>
          <%= f.select   :country_id, select_countries,
                        :include_blank => true %>
        </div>
      <% end %>

        <div class="field two columns">
          <%= f.label :zip_code, 'CEP' %>
          <%= f.text_field :zip_code %>
        </div>
      </div>

</div>
  <div class="field twelve column" style='margin-bottom:10px;'>
    <%= f.check_box :default, :class => 'columns' %>
    <%= f.label :default, "Faça este o meu método de envio padrão", :class => 'ten ', :style => 'margin-top:3px;' %>
  </div>

  <div class="actions column">
    <%= f.submit 'Enviar', :class => 'button' %>
  </div>
<div class='clearfix'></div>
